@import url("../../../styles.css");

.content {
  font-family: var(--inter);
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

.title {
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.inputBox {
  width: calc(100% - 10px);
  height: 2.375rem;
  flex-shrink: 0;
  border-radius: 0.625rem;
  background: #31363f;
  padding-left: 5px;
  padding-right: 5px;
  color: var(--options-color);
  font-family: Inter;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
}

.options {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.btn {
  border-radius: 10px;
  width: 47px;
  height: 29px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--options-color);
  font-size: 14px;
  font-weight: 700;
}

.btn-cancel {
  font-size: 10px;
  background-color: var(--trash-color);
}

.btn-go {
  background-color: var(--font-color);
}
