@import url("../../../styles.css");

.link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--options-color);
  padding-left: 7px;
  padding-right: 7px;
  height: 35px;
}

.text-content {
  display: flex;
  flex-direction: column;
  color: var(--options-color);
}

.title {
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.url {
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.options {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.edit-img {
  width: 20px;
  height: 20px;
  border-radius: 10%;
}

.edit-img:hover {
  background-color: var(--button-hover-color);
  cursor: pointer;
}

.delete-img {
  width: 20px;
  height: 20px;
  border-radius: 10%;
}

.delete-img:hover {
  background-color: var(--button-hover-color);
  cursor: pointer;
}

.options img:active {
  background-color: var(--button-active-color);
}
