<div class="content">
  <label for="folderName" class="title">Add Folder</label>
  <input
    type="text"
    id="folderName"
    class="folder-name"
    placeholder="Name"
    [(ngModel)]="folderName"
    #folderNameInput="ngModel"
    required
  />
  <div class="options">
    <div class="btn-cancel btn" (click)="handleGoBack()">Cancel</div>
    <div class="btn-go btn" (click)="createFolder(folderNameInput.value)">
      Go
    </div>
  </div>
  <div class="error" [class.invalid]="isInvalid">
    <p>Folder name cannot be empty.</p>
  </div>
</div>
