<div class="folder" (click)="expandFolder()">
  <div class="open-folder">
    <img src="../../../assets/images/folder.png" />
  </div>
  <div class="folder-name">
    <p>Name</p>
  </div>
  <div class="folder-options">
    <div class="open-links options">
      <img src="../../../assets/images/open.png" />
    </div>
    <div class="add-link options">
      <img src="../../../assets/images/add.png" />
    </div>
    <div class="delete-folder options">
      <img src="../../../assets/images/delete.png" />
    </div>
  </div>
</div>
