<div class="folder">
  <div class="open-folder">
    <img
      src="../../../assets/images/folder.png"
      alt="Folder Icon"
      (click)="expandFolder()"
    />
  </div>
  <div class="folder-name">
    <p>{{ folderName }}</p>
  </div>
  <div class="folder-options">
    <div class="open-links options">
      <img
        src="../../../assets/images/open.png"
        (click)="handleOpenLinks(folderName)"
      />
    </div>
    <div class="add-link options">
      <img
        src="../../../assets/images/add.png"
        (click)="handleAddLink(folderName)"
      />
    </div>
    <div class="delete-folder options">
      <img
        src="../../../assets/images/delete.png"
        (click)="handleDeleteFolder(folderName)"
      />
    </div>
  </div>
</div>
<div *ngIf="isExpanded">
  <app-link [folderName]="folderName"></app-link>
</div>
