<div class="content">
  <div class="header">
    <p>SaveIt</p>
    <div class="add_folder btn">
      <img src="../assets/images/new_folder.png" (click)="addFolder()" />
    </div>
  </div>
  <div class="body">
    <div *ngIf="activePage === 'addFolder'" class="addfolder">
      <app-addfolder></app-addfolder>
    </div>
    <div *ngIf="activePage === 'folders'" class="folders">
      <app-folder
        *ngFor="let folder of folders"
        [folderName]="folder.name"
        (openLinksEvent)="handleOpenLinks(folder.name)"
        (addLinkEvent)="handleAddLink(folder.name)"
        (deleteFolderEvent)="handleDeleteFolder(folder.name)"
      ></app-folder>
    </div>
    <div *ngIf="activePage === 'addLink'" class="addLink">
      <app-addlink></app-addlink>
    </div>
  </div>
  <div class="footer">
    <input type="text" class="search-box" placeholder="Search" />
    <div class="github btn" (click)="openGithub()">
      <img src="../assets/images/github-logo.png" />
    </div>
  </div>
</div>
