<div class="content">
  <div class="header">
    <p>SaveIt</p>
    <div class="add_folder btn">
      <img src="../assets/images/new_folder.png" (click)="addFolder()" />
    </div>
  </div>
  <div class="body">
    <div *ngIf="activePage === 'addFolder'" class="addfolder">
      <p>Hello This is Add Folder Div</p>
    </div>
  </div>
  <div class="footer">
    <input type="text" #search class="search-box" placeholder="Search" />
    <div class="github btn" #github (click)="openGithub()">
      <img src="../assets/images/github-logo.png" />
    </div>
  </div>
</div>
