@font-face {
  font-family: "Archivo Black";
  src: url("../assets/fonts/ArchivoBlack-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter-VariableFont_opsz\,wght.ttf")
    format("truetype");
}

:root {
  --background-color: #222831;
  --button-hover-color: #393e46;
  --button-active-color: #31363f;
  --font-color: #76abae;
  --cyan-hover-color: #5e9ca0;
  --cyan-active-color: #4e8a8d;
  --trash-color: #ff6a6a;
  --red-hover-color: #ff5f5f;
  --red-active-color: #fe4141;
  --options-color: #eeeeee;
  --archivo: "Archivo Black";
  --inter: "Inter";
}

* {
  border: 0;
  margin: 0;
  padding: 0;
}

body {
  width: 280px;
  height: fit-content;
  background-color: var(--background-color);
}
